<section class="content">

    <div class = "images">
        <img src="https://img.freepik.com/premium-photo/a-customer-preparing-a-meal-with-ingredients-from-a-specialty-food-delivery_1314467-211200.jpg?size=626&ext=jpg">
        <img src="https://img.freepik.com/premium-photo/a-rustic-kitchen-scene-with-fresh-vegetables-and-herbs-prepared-for-cooking_658005-34840.jpg">
    </div>

    <div class = "images_for_small_screen">
        <img src="https://img.freepik.com/premium-photo/a-rustic-kitchen-scene-with-fresh-vegetables-and-herbs-prepared-for-cooking_658005-34840.jpg">
    </div>

    <div class="description">
        <h3>Добро пожаловать в "Кулинарный мастер"</h3>
        <p>Наше приложение поможет вам быстро находить рецепты на основе продуктов в вашем холодильнике. Вы сможете создавать и сохранять свои кулинарные шедевры, делиться ими с другими пользователями и легко составлять списки покупок.</p>
        <nav class="navigation_2">
            <a href="#" class="cta">Найти рецепт</a>
            <a href="#" class="cta">Создать рецепт</a>
            <a href="#" class="cta">Список покупок</a>
        </nav>
        <nav class="navigation_2_for_small_screen">
            <a href="#" class="cta">Найти рецепт</a>
            <a href="#" class="cta">Создать рецепт</a>
            <a href="#" class="cta">Список покупок</a>
        </nav>
    </div>
</section>

<section class="features">
    <div class="feature">
        <h4>Подбор рецептов</h4>
        <p>Введите доступные продукты, и мы предложим вам рецепты, которые можно приготовить прямо сейчас.</p>
    </div>
    <div class="feature">
        <h4>Создание рецептов</h4>
        <p>Создавайте свои собственные рецепты, сохраняйте их и делитесь с другими.</p>
    </div>
    <div class="feature">
        <h4>Список покупок</h4>
        <p>Формируйте список покупок на основе выбранных рецептов и сортируйте его по категориям.</p>
    </div>
</section>