<div class = "images">
    <img src="https://img.freepik.com/premium-photo/a-customer-preparing-a-meal-with-ingredients-from-a-specialty-food-delivery_1314467-211200.jpg?size=626&ext=jpg">
    <img src="https://img.freepik.com/premium-photo/a-rustic-kitchen-scene-with-fresh-vegetables-and-herbs-prepared-for-cooking_658005-34840.jpg">
</div>