<nav>
    <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/about">О нас</a></li>
        <li><a href="/services">Услуги</a></li>
        {{#if user}}
            <li><a href="/profile">Профиль</a></li>
            <li><a href="/logout">Выйти</a></li>
        {{else}}
            <li><a href="/login">Войти</a></li>
            <li><a href="/register">Регистрация</a></li>
        {{/if}}
    </ul>
</nav>