<nav class="main_navigation" id="main_page">
    <a href="/">Главная</a>
    <a href="/my_recipes">Мои рецепты</a>
    <a href="/create_recipe">Создать рецепт</a>
    <a href="/shopping_list">Список покупок</a>
    <a href="/contacts">Контакты</a>
</nav>