<h2>Лучшие рецепты месяца</h2>
<section class="recipe-data">
    <div class="table-container">
        <table id="recipe-table">
            <thead>
            <tr>
                <th>Название рецепта</th>
                <th>Количество ингредиентов</th>
                <th>Время приготовления</th>
                <th>Калорийность</th>
                <th>Вид кухни</th>
                <th>Рейтинг</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="preloader">
            <img src="loading.gif" alt="Загрузка данных...">
        </div>
        <div class="error-message"></div>
    </div>
</section>
