<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="create_shopping_list_script.js" defer></script>
    <link rel="stylesheet" href="common_outline.css">
    <script src="https://cdn.jsdelivr.net/npm/topbar@0.1.0/topbar.min.js"></script>
    <script src="some_script.js"></script>
</head>
<body>
{{>header}}

<h2>Создать список покупок</h2>

<form id="shopping_list_Form">
    <fieldset>
        <legend>Выберите блюда:</legend>
        <label for="dish-olivie"><input type="checkbox" name="dishes" value="Салат Оливье" id="dish-olivie"> Салат Оливье</label><br>
        <label for="dish-borsch"><input type="checkbox" name="dishes" value="Борщ" id="dish-borsch"> Борщ</label><br>
        <label for="dish-carbonara"><input type="checkbox" name="dishes" value="Паста Карбонара" id="dish-carbonara"> Паста Карбонара</label><br>
        <label for="dish-chicken-vegetables"><input type="checkbox" name="dishes" value="Куриное филе с овощами" id="dish-chicken-vegetables"> Куриное филе с овощами</label><br>
    </fieldset>

    <button type="submit">Создать список покупок</button>
</form>

<div id="generatedList"></div>
</body>
{{>footer}}
</html>
