<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <script src="some_script.js"></script>
    <link rel="stylesheet" href="common_outline.css">
    <script src="https://cdn.jsdelivr.net/npm/topbar@0.1.0/topbar.min.js"></script>
</head>
<body>
{{>header}}
<main>
    <p>Ваш список покупок.
        <a href="create_shopping_list.html">Создать список покупок</a>
    </p>
</main>
</body>
{{>footer}}
</html>